<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="keywords" content="Carrer,Guide,JEE,Engineerig,NEET,Boards,Internship,Placement,Projects,">
    <meta name="description" content="Eping is a place to gain and share knowledge about Career guidance. It's a platform to ask questions and connect with people who are expert in their fields. ">
    <meta name="author" content="Sanskar Maliwad">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title> C-Guide: A Carrer Guide Platfrom </title>

    <link rel="icon" href="/Images/CG.jpg">
    <script src="https://kit.fontawesome.com/7873186254.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/pro.css">


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

  </head>
<body>

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">

                            <img src=<%= imageLink %> alt=""/>
                            <!-- <form class="" action="/getImage" method="post">
                              <div class="file btn btn-lg btn-primary">
                                  Change Photo
                                  <input type="file" name="file"/>
                              </div>
                            </form> -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        <%= user.fname %> <%= user.lname %>
                                    </h5>

                                    <p class="proile-rating">QUESTIONS : <span><%= user.content.length %></span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-md-2">
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div> -->
                </div>
                <div class="row">

                    <div class="col-md-8" style="padding-left:33%;">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= user.fname %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= user.fname %> <%= user.lname %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Not available</p>
                                            </div>
                                        </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <a href="/first"><button type="button" class="btn btn-warning" style="margin-left:50%;margin-bottom:10%;margin-top:0px;">Back</button></a>


        </body>
